<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>首页</title>
</head>

<body class="wrap">
  <div class="main">
    <p class="title">这个是index页面</p>
    <p class="title">MultiplePageByWebpack</p>
    <div class="usage">
      <p class="tip">新建页面</p>
      <p class="content">npm run new 页面名称</p>
    </div>
    <div class="usage">
      <p class="tip">启动本地服务</p>
      <p class="content">npm run dev</p>
    </div>
    <div class="usage">
      <p class="tip">打包</p>
      <p class="content">npm run build</p>
    </div>
    <div class="usage">
      <p class="tip">怎么进入detail页面</p>
      <p class="content">http://localhost:9000/detail.html</p>
    </div>
  </div>
</body>

</html>